@import url(//fonts.googleapis.com/css?family=Lato:400,700);

/* STANDARD LAYOUT */
body, html{
	font-family: 'Lato', sans-serif !important;
}

table{
	border-collapse: separate;
	border-spacing: 2px;
}

b, strong{
	font-weight: bold;
}

i, em{
	font-style: italic;
}

ol, ul{
	padding: .2em 0 0 1.5em;
	list-style-position: inside;
}

ol{
	list-style-type: decimal;
}

ul{
	list-style-type: disc;
}

li{
	padding-top: .8em;
}

.loader{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

.loader80{
	margin: -40px 0 0 -40px;
}

#legend-pane, .legend, .mobile-popup-content, .mobile-close, #intro-toggle, #hide-intro, #mobile-header, #mobile-nav {
	display: none;
}

#application-window{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.region-right{
	position: relative;
	float: right;
}

.region-left, .region-center, .region-top, .region-bottom{
	position: relative;
	float: left;
}

#branding-wrapper{
	height: 100%;
	width: 200px;
	float:right;
	text-align:right;
}

#social{
	margin:25px 25px 20px 0;
}

#smLink{
	color:#fff;
	font-weight:bold;
	text-decoration: none;
	font-size:13px;
	outline:none;
}

#logo{
	margin-right: 25px;
	border:none;
	outline:none;
}

#logoImg{
	border:none;
	outline:none;
}

#title{
	margin: 25px 25px 15px;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}

#subtitle{
	margin: 0 25px;
	color: #000000;
	font-family: sans-serif, Georgia, serif;
}

.left-nav, .right-nav{
	position: absolute;
}

.left-nav{
	left: .5em;
}

.right-nav{
	right: .5em;
}

.esriTimeSlider{
	display: none;
}

.esriTimeSlider:first-child{
	display: block;
}

/* Popup modifications */

.esriViewPopup .gallery{
	height: auto;
	max-height: 150px;
}

@media all and (min-width: 781px) {
	#header-text{
		display: block;
	}

	#title{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}